* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #0f0f0f;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 1000px;
    margin: 0 auto 2em auto;
    padding: 1em .5em;
    display: flex;
    justify-content: center;
}

.indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 100%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery {
    display: flex;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
}

.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 20px;
    height: 400px;
    margin: 0 5px;
    background-color: #000000;
    overflow: hidden;
    transition: flex 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery-item img {
    width: 800px;
    height: 100%;
    object-fit: contain;
    transform: scale(2);
}